body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
  gap: 20px;
}

button {
  border: 3px solid black;
  border-radius: 4px;
}
.game-container {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  gap: 20px;
  border: 3px solid black;
  border-radius: 4px;
  padding: 20px;
}

.computersquare {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 4px;
  padding: 70px;
}

.playersquare {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 70px;
}

.score-card {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.player-score-card,
.computer-score-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
